openapi: 3.1.0
info:
  title: Provable API
  version: 2.0.0
  description: |
    The Provable API provides RESTful access to the Aleo blockchain.
    Query blocks, transactions, programs, staking data, DeFi metrics, and more.
  contact:
    email: explorer@provable.com

servers:
  - url: https://api.provable.com/v2/mainnet
    description: Mainnet
  - url: https://api.provable.com/v2/testnet
    description: Testnet

tags:
  - name: Blocks
    description: Query block data and state roots
  - name: Transactions
    description: Query and broadcast transactions
  - name: Programs
    description: Query deployed Leo programs
  - name: Address
    description: Address-specific data and history
  - name: Staking
    description: Validator committee and delegation data
  - name: Network
    description: Network metrics, supply, and prover stats

paths:
  /block:
    get:
      operationId: getLatestBlock
      summary: Get latest block
      description: Returns the most recently confirmed block on the network.
      tags: [Blocks]
      responses:
        '200':
          description: The latest block object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Block'
              example:
                block_hash: "ab1qgqh..."
                previous_hash: "ab1xyz..."
                header:
                  metadata:
                    height: 2847291
                    timestamp: 1708901234
                transactions:
                  - id: "at1abc..."
                    type: "execute"
        '500':
          $ref: '#/components/responses/ServerError'

  /block/height/latest:
    get:
      operationId: getLatestBlockHeight
      summary: Get latest block height
      description: Returns the current block height as a plain integer.
      tags: [Blocks]
      responses:
        '200':
          description: Current block height
          content:
            application/json:
              schema:
                type: integer
              example: 2847291
        '500':
          $ref: '#/components/responses/ServerError'

  /block/{heightOrHash}:
    get:
      operationId: getBlockByHeightOrHash
      summary: Get block by height or hash
      description: Returns a specific block by its height (integer) or hash (string).
      tags: [Blocks]
      parameters:
        - name: heightOrHash
          in: path
          required: true
          description: Block height as an integer or block hash as a string
          schema:
            oneOf:
              - type: integer
              - type: string
          examples:
            byHeight:
              summary: By height
              value: 2847291
            byHash:
              summary: By hash
              value: "ab1qgqh..."
      responses:
        '200':
          description: The requested block
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Block'
        '404':
          $ref: '#/components/responses/NotFound'

  /transaction/{transactionId}:
    get:
      operationId: getTransaction
      summary: Get transaction by ID
      description: Returns a transaction by its transaction ID.
      tags: [Transactions]
      parameters:
        - name: transactionId
          in: path
          required: true
          description: The transaction ID
          schema:
            type: string
          example: "at1abc123..."
      responses:
        '200':
          description: The requested transaction
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
        '404':
          $ref: '#/components/responses/NotFound'

  /transaction/broadcast:
    post:
      operationId: broadcastTransaction
      summary: Broadcast transaction
      description: |
        Broadcasts a signed transaction to the Aleo network.
        The transaction must be fully formed and signed before broadcasting.
      tags: [Transactions]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                transaction:
                  type: string
                  description: The serialized, signed transaction string
            example:
              transaction: '{"type":"execute","id":"at1abc..."}'
      responses:
        '200':
          description: Transaction ID of the broadcast transaction
          content:
            application/json:
              schema:
                type: string
              example: "at1abc123..."
        '400':
          $ref: '#/components/responses/BadRequest'

  /program/{programId}:
    get:
      operationId: getProgram
      summary: Get program by ID
      description: |
        Returns the source code of a deployed Leo program.
        Program IDs must include the `.aleo` suffix.
      tags: [Programs]
      parameters:
        - name: programId
          in: path
          required: true
          description: The program ID including `.aleo` suffix
          schema:
            type: string
          example: "token_v1.aleo"
      responses:
        '200':
          description: The program source code as a string
          content:
            application/json:
              schema:
                type: string
        '404':
          $ref: '#/components/responses/NotFound'

  /address/{address}/transactions:
    get:
      operationId: getTransactionsByAddress
      summary: Get transactions by address
      description: Returns all confirmed transactions associated with an Aleo address.
      tags: [Address]
      parameters:
        - name: address
          in: path
          required: true
          description: The Aleo address
          schema:
            type: string
          example: "aleo1xyz..."
      responses:
        '200':
          description: List of transactions for the address
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Transaction'
        '404':
          $ref: '#/components/responses/NotFound'

  /committee/latest:
    get:
      operationId: getLatestCommittee
      summary: Get latest committee
      description: Returns the current validator committee including all active validators and their stake.
      tags: [Staking]
      responses:
        '200':
          description: The current committee
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Committee'
        '500':
          $ref: '#/components/responses/ServerError'
    /block/hash/latest:
    get:
      operationId: getLatestBlockHash
      summary: Get latest block hash
      description: Returns the hash of the most recently confirmed block as a string.
      tags: [Blocks]
      responses:
        '200':
          description: The latest block hash
          content:
            application/json:
              schema:
                type: string
              example: "ab1qgqh3z5y4x..."
        '500':
          $ref: '#/components/responses/ServerError'

  /blocks:
    get:
      operationId: getBlocksInRange
      summary: Get blocks in range
      description: |
        Returns a list of blocks within a specified height range.
        Use this to batch-fetch historical block data without making individual requests per block.
        The maximum range is 50 blocks per request.
      tags: [Blocks]
      parameters:
        - name: start
          in: query
          required: true
          description: Start block height (inclusive)
          schema:
            type: integer
          example: 2847200
        - name: end
          in: query
          required: true
          description: End block height (inclusive). Maximum range is 50 blocks.
          schema:
            type: integer
          example: 2847250
      responses:
        '200':
          description: Array of blocks in the specified range
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Block'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'

  /transaction/confirmed/{transactionId}:
    get:
      operationId: getConfirmedTransaction
      summary: Get confirmed transaction
      description: |
        Returns a confirmed transaction by its transaction ID.
        Unlike the base transaction endpoint, this only returns transactions
        that have been fully confirmed on-chain. Use this when you need
        certainty that a transaction is final.
      tags: [Transactions]
      parameters:
        - name: transactionId
          in: path
          required: true
          description: The transaction ID
          schema:
            type: string
          example: "at1abc123..."
      responses:
        '200':
          description: The confirmed transaction
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
        '404':
          $ref: '#/components/responses/NotFound'

  /transaction/unconfirmed/{transactionId}:
    get:
      operationId: getUnconfirmedTransaction
      summary: Get unconfirmed transaction
      description: |
        Returns a transaction that has been broadcast to the network
        but not yet included in a confirmed block.
        Use this to check the status of a recently broadcast transaction
        while waiting for confirmation.
      tags: [Transactions]
      parameters:
        - name: transactionId
          in: path
          required: true
          description: The transaction ID
          schema:
            type: string
          example: "at1abc123..."
      responses:
        '200':
          description: The unconfirmed transaction
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
        '404':
          $ref: '#/components/responses/NotFound'

  /address/{address}/transitions:
    get:
      operationId: getTransitionsByAddress
      summary: Get transitions by address
      description: |
        Returns all transitions associated with an Aleo address.
        Transitions are the individual function calls within a transaction —
        they reveal which Leo program functions were called and with what
        inputs and outputs. Use this for fine-grained activity tracking
        or building activity feeds.
      tags: [Address]
      parameters:
        - name: address
          in: path
          required: true
          description: The Aleo address
          schema:
            type: string
          example: "aleo1rhgdu77ht36c05y44vl823fkwf56f9fcjfzqxn6mlemc7xujpyqs6c0lut"
      responses:
        '200':
          description: List of transitions for the address
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Transition'
        '404':
          $ref: '#/components/responses/NotFound'

  /address/{address}/earnings:
    get:
      operationId: getEarningsByAddress
      summary: Get earnings by address
      description: |
        Returns staking rewards and proving earnings for an Aleo address.
        Earnings are denominated in microcredits (1 ALEO = 1,000,000 microcredits).
        Use this to build reward trackers or staking dashboards.
      tags: [Address]
      parameters:
        - name: address
          in: path
          required: true
          description: The Aleo address
          schema:
            type: string
          example: "aleo1rhgdu77ht36c05y44vl823fkwf56f9fcjfzqxn6mlemc7xujpyqs6c0lut"
      responses:
        '200':
          description: Earnings data for the address
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Earnings'
        '404':
          $ref: '#/components/responses/NotFound'

  /supply/latest/total:
    get:
      operationId: getTotalSupply
      summary: Get total supply
      description: |
        Returns the total supply of ALEO in microcredits.
        Total supply includes all staked, liquid, and locked tokens.
        Divide by 1,000,000 to convert to ALEO.
      tags: [Network]
      responses:
        '200':
          description: Total supply in microcredits
          content:
            application/json:
              schema:
                type: integer
              example: 1580000000000000
        '500':
          $ref: '#/components/responses/ServerError'

  /supply/latest/circulating:
    get:
      operationId: getCirculatingSupply
      summary: Get circulating supply
      description: |
        Returns the circulating supply of ALEO in microcredits.
        Circulating supply excludes locked and unvested tokens.
        Divide by 1,000,000 to convert to ALEO.
      tags: [Network]
      responses:
        '200':
          description: Circulating supply in microcredits
          content:
            application/json:
              schema:
                type: integer
              example: 980000000000000
        '500':
          $ref: '#/components/responses/ServerError'

  /committee/{height}:
    get:
      operationId: getCommitteeByHeight
      summary: Get committee by height
      description: |
        Returns the validator committee that was active at a specific block height.
        Use this to look up historical committee composition or verify
        which validators were responsible for a specific block.
      tags: [Staking]
      parameters:
        - name: height
          in: path
          required: true
          description: The block height
          schema:
            type: integer
          example: 2847291
      responses:
        '200':
          description: The committee at the specified height
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Committee'
        '404':
          $ref: '#/components/responses/NotFound'

  /delegators/{validator}:
    get:
      operationId: getDelegatorsByValidator
      summary: Get delegators by validator
      description: |
        Returns all delegators staking with a specific validator address,
        including each delegator's staked amount in microcredits.
        Use this to build validator profile pages or delegation explorers.
      tags: [Staking]
      parameters:
        - name: validator
          in: path
          required: true
          description: The validator address
          schema:
            type: string
          example: "aleo1rhgdu77ht36c05y44vl823fkwf56f9fcjfzqxn6mlemc7xujpyqs6c0lut"
      responses:
        '200':
          description: List of delegators and their staked amounts
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: integer
                  description: Staked amount in microcredits
        '404':
          $ref: '#/components/responses/NotFound'      

components:
  schemas:
    Block:
      type: object
      description: An Aleo block
      properties:
        block_hash:
          type: string
          description: The unique hash of this block
        previous_hash:
          type: string
          description: Hash of the previous block
        header:
          type: object
          properties:
            metadata:
              type: object
              properties:
                height:
                  type: integer
                  description: Block height
                timestamp:
                  type: integer
                  description: Unix timestamp of block production
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/Transaction'

    Transaction:
      type: object
      description: An Aleo transaction
      properties:
        id:
          type: string
          description: The transaction ID
        type:
          type: string
          enum: [deploy, execute]
          description: Whether this transaction deploys a program or executes one

    Committee:
      type: object
      description: The current validator committee
      properties:
        starting_round:
          type: integer
          description: The round this committee became active
        members:
          type: object
          description: Map of validator addresses to their stake and open status
    Transition:
      type: object
      description: An individual function call within a transaction
      properties:
        id:
          type: string
          description: The transition ID
        program:
          type: string
          description: The program ID this transition called e.g. token_v1.aleo
        function:
          type: string
          description: The function name that was called
        inputs:
          type: array
          description: Input values passed to the function
          items:
            type: object
        outputs:
          type: array
          description: Output values returned by the function
          items:
            type: object

    Earnings:
      type: object
      description: Staking and proving earnings for an address
      properties:
        staking_rewards:
          type: integer
          description: Total staking rewards earned in microcredits
        proving_rewards:
          type: integer
          description: Total proving rewards earned in microcredits
        total:
          type: integer
          description: Total earnings in microcredits      

    Error:
      type: object
      properties:
        error:
          type: string
          description: Human-readable error message

  responses:
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: "Resource not found"
    BadRequest:
      description: Invalid request parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: "Invalid parameters"
    ServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: "Internal server error"